<ion-header class="ion-no-border">

  <ion-toolbar class="searchToolBar">
    <ion-searchbar 
    placeholder="search for book" 
    debounce="800"
    showCancleButton="focus"
    animated
    (keyup)="searchIt($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="searchResult">
  <ion-list>
    <ion-item *ngFor="let item of searchResult" lines="none">
      <ion-avatar slot="start">
        <img src="{{ localhost }}/{{ item?.cover}}" alt="">
      </ion-avatar>
      <ion-label>
        {{ item.name }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
