<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon> 
    </ion-tab-button>
    
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon> 
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="person"></ion-icon> 
    </ion-tab-button>

    <ion-tab-button tab="addbook">
      <ion-icon name="add-circle"></ion-icon> 
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>