<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-content>
        <img [src]="image" alt="">
        <ion-card-title>{{ name }}</ion-card-title>
        <ion-card-subtitle>Electrical Electronic Engineering</ion-card-subtitle>
      </ion-card-content>
    
    </ion-card>
    <ion-card>
      <ion-card-content *ngIf="!isSignedIn">
        <ion-card-subtitle>Login as a Librarian</ion-card-subtitle>
        <br>
          <button id="signin-Btn" (click)="signInPage()">sign in</button>
      </ion-card-content>
      <ion-card-content *ngIf="isSignedIn">
        <ion-card-subtitle>Hey Librarian {{ username }}</ion-card-subtitle>
        <br>
          <button id="signin-Btn" (click)="signOut()">sign out</button>
      </ion-card-content>
    </ion-card>
</ion-content>
